<%# if blog.user_id == current_user.id %>
<div id="<%= dom_id blog %>">

  <h3>
    <%= blog.title %>
  </h3>

  <p>
    <%= blog.body %>
  </p>
  <p>
  <strong>Made by</strong>
    <%= link_to blog.user.user_name, blog.user %>
  </p>

</div>
<%# end %>