<% content_for :title, "New blog" %>

<div class="container py-5">
  
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm rounded-3">
        <div class="card-body">
          <h1 class="card-title mb-4 text-center">Create new blog</h1>
          <%= render "form", blog: @blog %>
          <div class="mt-4 text-center">
            <%= link_to "Back to blogs", blogs_path, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div>
</div>
